{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  {% if user.userprofile.tipo == 'ARRENDADOR' %}
    <div class="container mt-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <h2 class="card-title">Detalle del Inmueble: {{ inmueble.nombre }}</h2>
              <p><strong>Tipo de Inmueble:</strong> {{ inmueble.tipo_inmueble }}</p>
              <p><strong>Descripción:</strong> {{ inmueble.descripcion }}</p>
              <p><strong>M2 Construidos:</strong> {{ inmueble.m2_construidos }}</p>
              <p><strong>M2 Terreno:</strong> {{ inmueble.m2_terreno }}</p>
              <p><strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}</p>
              <p><strong>Habitaciones:</strong> {{ inmueble.habitaciones }}</p>
              <p><strong>Baños:</strong> {{ inmueble.banos }}</p>
              <p><strong>Dirección:</strong> {{ inmueble.direccion }}</p>
              <p><strong>Comuna:</strong> {{ inmueble.id_comuna.nombre_comuna }}</p>
              <p><strong>Región:</strong> {{ inmueble.id_region.nombre_region }}</p>
              <p><strong>Precio Mensual:</strong> ${{ inmueble.precio_mensual }}</p>
              <p><strong>Estado:</strong> {{ inmueble.estado }}</p>

              {% if inmueble.usuario == request.user %}
                <a href="{% url 'editar_inmueble' inmueble.id_inmueble %}" class="btn btn-warning">Editar Inmueble</a>
              {% endif %}
              
              <a href="{% url 'home' %}" class="btn btn-secondary mt-2">Volver a la lista de inmuebles</a>
            </div>
          </div>

     
          <div class="col-md-6">
            {% if inmueble.imagen_url %}
              <img src="{{ inmueble.imagen_url }}" alt="{{ inmueble.nombre }}" class="img-fluid" />
            {% else %}
              <p>No hay imagen disponible.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% elif user.userprofile.tipo == 'ARRENDATARIO' %}
    <div class="container mt-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <h2 class="card-title">Detalle del Inmueble: {{ inmueble.nombre }}</h2>
              <p><strong>Tipo de Inmueble:</strong> {{ inmueble.tipo_inmueble }}</p>
              <p><strong>Descripción:</strong> {{ inmueble.descripcion }}</p>
              <p><strong>M2 Construidos:</strong> {{ inmueble.m2_construidos }}</p>
              <p><strong>M2 Terreno:</strong> {{ inmueble.m2_terreno }}</p>
              <p><strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}</p>
              <p><strong>Habitaciones:</strong> {{ inmueble.habitaciones }}</p>
              <p><strong>Baños:</strong> {{ inmueble.banos }}</p>
              <p><strong>Dirección:</strong> {{ inmueble.direccion }}</p>
              <p><strong>Comuna:</strong> {{ inmueble.id_comuna.nombre_comuna }}</p>
              <p><strong>Región:</strong> {{ inmueble.id_region.nombre_region }}</p>
              <p><strong>Precio Mensual:</strong> ${{ inmueble.precio_mensual }}</p>
              <p><strong>Estado:</strong> {{ inmueble.estado }}</p>
              


{% if inmueble.estado == "DISPONIBLE" %}
    <a href="{% url 'crear_solicitud' inmueble.id_inmueble %}" class="btn btn-warning">Solicitar Este Inmueble</a>
{% else %}
    <p class="text-danger fw-bold">Este inmueble no está disponible para solicitar.</p>
{% endif %}
              
              <a href="{% url 'home' %}" class="btn btn-secondary mt-2">Volver a la lista de inmuebles</a>
            </div>
          </div>


          <div class="col-md-6">
            {% if inmueble.imagen_url %}
              <img src="{{ inmueble.imagen_url }}" alt="{{ inmueble.nombre }}" class="img-fluid" />
            {% else %}
              <p>No hay imagen disponible.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% else %}
  
    <div class="alert alert-warning">Tu perfil no está habilitado para ver estos detalles.</div>
  {% endif %}
{% else %}
  <div class="alert alert-danger">Debes iniciar sesión para ver los detalles del inmueble. REGISTRATE!!!</div>
{% endif %}

{% endblock %}